.html-body{
    padding: 5px;
    display: grid;
    grid-template-columns: 300px repeat(3,1fr);
}
.aside{
    grid-column: 300px;
}
.main{
    grid-column: span 3;
}
.header-section{
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}
.receipt-section{
    display:flex;
    justify-content: center;
    align-items: center;
}
.detail-section{
    display:flex;
}
